[submodule "vgmcore/zstr"]
	path = vgmcore/zstr
	url = https://github.com/mateidavid/zstr
[submodule "vgmchips/psg/emu76489"]
	path = vgmchips/psg/emu76489
	url = https://github.com/digital-sound-antiques/emu76489.git
[submodule "vgmchips/opll/emu2413"]
	path = vgmchips/opll/emu2413
	url = https://github.com/digital-sound-antiques/emu2413
[submodule "vgmchips/ay8910/emu2149"]
	path = vgmchips/ay8910/emu2149
	url = https://github.com/digital-sound-antiques/emu2149
[submodule "vgmchips/opl/emu8950"]
	path = vgmchips/opl/emu8950
	url = https://github.com/digital-sound-antiques/emu8950
[submodule "vgmchips/scc/emu2212"]
	path = vgmchips/scc/emu2212
	url = https://github.com/digital-sound-antiques/emu2212
[submodule "vgmplay/pa-wrapper"]
	path = vgmplay/pa-wrapper
	url = https://github.com/orazdow/PortAudio-Wrapper
